<div class="digial-campus-faq-component">
  <div class="faq-header">
    <div class="container">
      <h1 class="font-family">Frequently asked questions</h1>
      <p>
        If you can’t find the answer to your question, please <a routerLink="/contact"><u class="peersview-secondary-color">contact us</u></a>.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="inline-widget">
      <div class="inline-widget-header">
        <i
          class="material-icons peersview-primary-color"
          slideToggle
          [class]="'faq-question-one'">add
        </i>
        <h4>Why should my institution subscribe to the Peersview Campus?</h4>
      </div>
      <div class="inline-content faq-question-one">
        <p>The ability for education providers to create quality student experience is becoming
          increasing difficult due to varying factors.</p>
        <p>Whilst online delivery enables learning flexibility and reduced costs - it can also result in
          disconnected and disengaged students.</p>
        <p>Peersview helps institutions adapt by implementing social technology to better connect, and
          engage students from enrolment to graduation.</p>
      </div>
    </div>
    <div class="inline-widget">
      <div class="inline-widget-header">
        <i
          class="material-icons peersview-primary-color"
          slideToggle
          [class]="'faq-question-two'">add
        </i>
        <h4>How much does Peersview Campus Cost?</h4>
      </div>
      <div class="inline-content faq-question-two">
        <p>Contact us.</p>
      </div>
    </div>
    <div class="inline-widget">
      <div class="inline-widget-header">
        <i
          class="material-icons peersview-primary-color"
          slideToggle
          [class]="'faq-question-three'">add
        </i>
        <h4>What is required to setup a Peersview Campus?</h4>
      </div>
      <div class="inline-content faq-question-three">
        <p>Please contact us for details.</p>
      </div>
    </div>
    <div class="inline-widget">
      <div class="inline-widget-header">
        <i
          class="material-icons peersview-primary-color"
          slideToggle
          [class]="'faq-question-four'">add
        </i>
        <h4>When should students start using Peersview Campus?</h4>
      </div>
      <div class="inline-content faq-question-four">
        <p>
          We recommend institutions invite students to join their Peersview network from enrolment (or even earlier if possible).
        </p>
      </div>
    </div>
    <div class="inline-widget">
      <div class="inline-widget-header">
        <i
          class="material-icons peersview-primary-color"
          slideToggle
          [class]="'faq-question-five'">add
        </i>
        <h4>What support is available to students?</h4>
      </div>
      <div class="inline-content faq-question-five">
        <p>Support is available according to Subscriptions selected.</p>
      </div>
    </div>
    <div class="inline-widget">
      <div class="inline-widget-header">
        <i
          class="material-icons peersview-primary-color"
          slideToggle
          [class]="'faq-question-six'">add
        </i>
        <h4>What level of control does an institution have over its Peersview Campus?</h4>
      </div>
      <div class="inline-content faq-question-six">
        <p>Control would be according to Administrative Privileges in subscription.</p>
      </div>
    </div>
  </div>
</div>