<shared-navbar-component></shared-navbar-component>
<div class="notification-component container">
  <div class="users-notification col-xs-12 col-lg-9" aria-labelledby="users-notification">
    <div class="flyout-title">NOTIFICATIONS</div>
    <hr>
    <notification-list-component class="notification-page"></notification-list-component>
    <!-- <notification-list-component></notification-list-component> -->
    <!-- <div class="no-notifications">No notifications yet.</div> -->
    <!-- <div class="flyout-view"><a [routerLink]="['/notification']">View All</a></div> -->
  </div>
  <notification-right-sidebar-component class="col-xs-3 hidden-xs hidden-sm"></notification-right-sidebar-component>
</div>