<div class="sign-in-component">
  <div class="sign-in-form">
    <form #signInForm="ngForm" (ngSubmit)="onSignIn(signInForm.valid)">
      <h2 class="text-center">
        <div>
          <cl-image
            class="mouse-pointer"
            public-id="peersviewBrand"
            [routerLink]="['/']">
          </cl-image>
        </div>
        <div class="signin-label">Sign In</div>
      </h2>
      <div class="text-center social-btn">
        <a
          class="btn btn-block facebook mouse-pointer"
          (click)="onSignInViaSocial('facebook')">
          <i class="fa fa-facebook"></i>
          Sign in with
          <b>Facebook</b>
        </a>
        <!-- <a
          class="btn btn-block linkedIn mouse-pointer"
          (click)="onSignInViaSocial('linkedin')">
          <i class="fa fa-twitter"></i>
          Sign in with
          <b>LinkedIn</b>
        </a> -->
        <a
          class="btn btn-block google mouse-pointer"
          (click)="onSignInViaSocial('google')">
          <i class="fa fa-google"></i>
          Sign in with
          <b>Google</b>
        </a>
      </div>
      <div class="or-seperator"><i>or</i></div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon color-light-purple"><i class="material-icons">email</i></span>
          <input
            type="text"
            class="form-control"
            name="email"
            placeholder="Email"
            autocomplete="email"
            required="required"
            [(ngModel)]="user.email"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon color-light-purple"><i class="material-icons">lock</i></span>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            autocomplete="password"
            required="required"
            [(ngModel)]="user.password">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-peersview-primary btn-block btn-peersview-md">Sign in</button>
      </div>
      <div class="clearfix">
        <label class="pull-left checkbox-inline peersview-primary-color-light"><input type="checkbox"> Remember me</label>
        <a class="pull-right peersview-primary-color-light">Forgot Password?</a>
      </div>
    </form>
    <div class="hint-text small">Don't have an account?
      <a
        class="sign-up-now peersview-secondary-color"
        [routerLink]="['/sign-up']">Sign-up Now!</a>
    </div>
  </div>
</div>
