<div class="account-settings-password-component">
  <div class="tab-title">NOTIFICATIONS</div>
  <div class="row p-peersview-y-1 m-peersview-0">
    <div class="p-peersview-0 col-sm-4">
      <label>Email me When:</label>
    </div>
    <div class="col-sm-8">
      <input type="checkbox" name="new-follower"/>
      I have a new follower
      <div>
        <input type="checkbox" name="page-view"/>
        I have a Page view
      </div>
      <div>
        <input type="checkbox" name="likes-my-post-or-media"/>
        Someone Likes my Post or Media
      </div>
      <div>
        <input type="checkbox" name="tags"/>
        Someone tags me in a Post or Media
      </div>
      <div>
        <input type="checkbox" name="interest"/>
        There is an event I could be interested
      </div>
      <div>
        <input type="checkbox" name="recomended-accounts"/>
        Suggestions for recommended accounts
      </div>
      <div>
        <input type="checkbox" name="recent-follows"/>
        Suggestions based on my recent follows
      </div>
    </div>
  </div>
  <div class="row p-peersview-y-1 m-peersview-0">
    <div class="p-peersview-0 col-sm-4">
      <label>Activity relating to my Account:</label>
    </div>
    <div class="col-sm-8">
      <div>
        <input type="checkbox" name="campus-notification"/>
        Notifications from My Campus
      </div>
      <div>
        <input type="checkbox" name="top-post"/>
        Top posts relating to my interest
      </div>
    </div>
  </div>

  <div class="row p-peersview-y-1 text-right m-peersview-0">
    <button class="btn-peersview-primary btn-peersview-md">Update</button>
  </div>
</div>