<div class="index-community-page-component">
  <index-sticky-navbar-component class="community-show-sticky hidden-xs" sticky></index-sticky-navbar-component>
  <div class="container commnity-body">
    <div class="text-center m-peersview-yb-4">
      <h2 class="title-header">Community</h2>
      <h1>Meet Other Students</h1>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 padding mobile-outer">
      <div class="col-md-12 col-xs-12 col-sm-12 padding mobile-inner">
        <div class="col-md-6 col-sm-6 col-xs-12 font-size discover padding margin-bottom">
          <i></i>
           <span class="width"> <strong>Discover</strong> and discuss topics relating to your course with peers around the world </span>
        </div>
        <div class="col-md-6 col-sm-6  col-xs-12 font-size develop discover padding margin-bottom">
          <i></i>
          <span class="width"> <strong>Share</strong> your knowledge and get rewarded </span>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 padding">
        <div class="col-md-6 col-sm-6 col-xs-12 font-size community discover padding mobile-inner margin-bottom">
          <i></i>
          <span class="width"> <strong>Join</strong> a global community of students from universities and colleges around the world </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 font-size collaborate discover padding margin-bottom hidden-sm hidden-xs">
          <i></i>
         <span class="width"> <strong>Develop</strong> a reputation within your field of study</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 font-size collaborate discover padding margin-bottom hidden-md hidden-lg mobile-center">
          <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <cl-image
                  public-id="image_ubk6on"
                  height="300" width="630">
                </cl-image>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 padding mobile-inner hidden-md hidden-lg mobile-inner">
        <div class="col-md-6 col-sm-6 col-xs-12 font-size collaborate discover padding margin-bottom">
          <i></i>
         <span class="width"> <strong>Collaborate on group projects</strong>  take advantage of our mind tools and forums for discussions </span>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1  col-xs-12 col-sm-12 hidden-xs">
      <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <cl-image
              public-id="image_ubk6on"
              height="300" width="630">
            </cl-image>
          </div>
        </div>
      </div>
    </div>
    <div class="row get-started">
      <div class="col-xs-12 text-center">
        <button [routerLink]="['/sign-up']" class="btn-peersview-primary btn-peersview-lg">GET STARTED</button>
      </div>
    </div>
  </div>
</div>
