<div class="about-us-team-component">
  <div class="container">
    <div class="team-container">
      <div class="header text-center">
        <h1>Our team</h1>
        <p>At Peersview we are hungry, hungry to learn, hungry to develop and hungry to make a difference.</p>
      </div>
      <div class="row members text-center">
        <div class="members-info text-center">
          <cl-image
            public-id="gabrielTeam"
            width="150"
            radius="max">
          </cl-image>
          <span class="name">Gabriel Amodu</span>
          <small class="position">Product Lead</small>
        </div>
        <div class="members-info text-center">
          <cl-image
            public-id="nikolaTeam"
            width="150"
            radius="max">
          </cl-image>
          <span class="name">Nikola Leger</span>
          <small class="position">Business Development</small>
        </div>
        <div class="members-info text-center">
          <cl-image
            public-id="joriesTeam">
          </cl-image>
          <span class="name">Jo-Ries Canino</span>
          <small class="position">Lead Engineer</small>
        </div>
        <div class="members-info text-center">
          <cl-image
            public-id="heenaTeam"
            width="150">
          </cl-image>
          <span class="name">Heena Trivedi</span>
          <small class="position">Engineer</small>
        </div>
      </div>
    </div>
    <div class="text-center advisory-team">
      <div class="row">
        <h1>Advisory Team</h1>
      </div>
      <div class="row">
        <div class="members-info">
          <cl-image
            public-id="bowaleJolaosoTeam"
            width="150"
            radius="max">
          </cl-image>
          <span class="name">Bowale Jolaoso</span>
        </div>
      </div>
    </div>
  </div>
</div>