@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
// colors
// primary
$purple: #631990;
$purple-light: lighten($purple, 10%);
$purple-dark: darken($purple, 10%);
// secondary
$orange: #ee7600;
$orange-light: lighten($orange, 10%);
$orange-dark: darken($orange, 10%);
$gray: #777777;
// color configs
// primary-color
$primary-color: $purple;
$primary-color-light: $purple-light;
$primary-color-dark: $purple-dark;
// $secondary-color
$secondary-color: $orange;
$secondary-color-light: $orange-light;
$secondary-color-dark: $orange-dark;

//font size
$f-small: 12px;
$f-regular: 16px;
$f-large: 24px;
$f-x-large : 32px;
$f-xx-large : 48px;
$f-xxx-large: 64px;
$f-xxxx-large: 96px;

// font sizes config
$font-size-small: $f-small;
$font-size-regular: $f-regular;
$font-size-large: $f-large;
$font-size-x-large: $f-x-large;
$font-size-xx-large: $f-xx-large;
$font-size-xxx-large: $f-xxx-large;
$font-size-xxxx-large: $f-xxxx-large;

// font weight config
$font-weight-light: 300;
$font-weight-regular:	400;
$font-weight-bold: 600;

// other styles
$font-family-primary: 'Maven Pro', sans-serif;
$font-family-secondary: Conv_MavenPro-Regular, sans-serif;
$spacers: 4
