<!-- <div class="widget peers-online-widget following-widget">
  <h5 class="widget-title"><i class="material-icons">person</i> Followers (<strong>{{followers.length}}</strong>)</h5>
  <ul class="users-list">
    <li data-toggle="tooltip" *ngFor="let item of followers" title="{{item.first_name}} {{item.last_name}}">
      <img src="/assets/images/user1.jpg" alt="" ng-click="vm.openUsersProfile('sm')" />
    </li>
  </ul>
  <div class="widget-bottom">
    <a class="link-und" (click)="showAll()">View All</a>
  </div>
</div> -->

<div class="shared-followers-component">
  <h5>
    <i class="material-icons social-icon color-purple">person</i>
    <div class="following-label">Followers (<strong>{{followers.length}}</strong>)</div>
  </h5>
  <ul class="users-list" *ngIf="followers.length !== 0">
    <li
      data-toggle="tooltip"
      title="{{follows.follower.firstName}} {{follows.follower.lastName}}"
      *ngFor="let follows of followers">
        <cl-image
          public-id="{{follows.follower.socialImage ? (follows.follower.profilePicture === 'avatar' ? follows.follower.socialImage: follows.follower.profilePicture): follows.follower.profilePicture}}"
          *ngIf="follows.follower?.profilePicture"
          [ngStyle]="{'border-radius': '50%'}"
          (click)="onClickUserProfile(follows.follower);"
        >
          <cl-transformation width="50" height="50" radius="max" gravity="custom" crop="thumb">
          </cl-transformation>
        </cl-image>
        <div class="follow-user-name">
          <span
            [ngStyle]="{'display': 'inline-grid'}"
            (click)="onClickUserProfile(follows.follower);"
            class="user-name">
            {{follows.follower.firstName}} {{follows.follower.lastName}}
          </span>
        </div>
    </li>
  </ul>
  <div 
    *ngIf="followers.length > 0" 
    class="view-all text-right color-purple"
    >
    View All
  </div>
  <h4 *ngIf="followers.length === 0" class="text-center">
    No Followers
  </h4>
</div>