<div class="contact-us-component">
  <!--nav start-->
  <div class="container">
    <shared-navbar-unauth-component
      [aboutUs]=true
      [signIn]=true>
    </shared-navbar-unauth-component>
    <div class="content">
      <div class="header text-center">
        <h1>Contact Us</h1>
        <h3>
          We are available to provide you with more information, and answer any questions you have.
        </h3>
        <h4 class="m-peersview-yt-2">
          Please use the form below to get in touch with us.
        </h4>
        <div class="hq-detail text-center">
         <b>Peersview HQ </b><br>
          3205 Survey Street, <br>
          Protea South Johannesburg, <br>
          South Africa.
        </div>
      </div>
    </div>
  </div>
</div>