<div class="terms-of-use-user-component">
  <div class="container-fluid user-service-agreement">
    <shared-navbar-unauth-component
      [aboutUs]=true
      [signUp]=true>
    </shared-navbar-unauth-component>
    <h1 class="text-center">User Service Agreement</h1>
  </div>

  <div class="container body">
    <h4>
      PEERSVIEW PROVIDES ITS SERVICES TO YOU SUBJECT TO THE FOLLOWING USER
      SERVICE AGREEMENT. THE LATEST VERSION OF THIS AGREEMENT WILL ALWAYS BE
      AVAILABLE IN PEERSVIEW WEBSITE.
    </h4>
    <h4 class="heading">
      1. Background
    </h4>
    <p>
      Thanks for choosing the Peersview Campus (“Peersview”, “we”, “us”, “our”). By using the Peersview service, websites, software applications,
      or any content or information provided as part of these services (together, the “Peersview Services” or each
      a “Service”), including, but not limited to, clicking &quot;Register Now&quot;, subscribing to (Peersview Standard Campus Service or
      Peersview Premium Campus Service), receiving Codes or free trials, you represent that (1) You have read and agreed
      to be bound by this agreement, (2) You have the authority to enter into this agreement personally or on behalf of the entity
      (E.g., academic institution or employer) that you are using the service.
    </p>
    <p>
      If you have entered into a separate written agreement with Peersview governing your use of our services
      (&quot;A Peersview Customer Agreement&quot; or &quot;Order Form(s)&quot;), that agreement together with this Agreement shall govern your relationship
      with Peersview. In the event of a conflict, the later in time shall prevail (Refer to Section 18.4). Any prior communications between you and
      Peersview (eg. e-mails) do not form part of this Agreement. If you do not agree to this Agreement, do NOT
      click “Register Now” (or similar) and do not access or otherwise use any of our Services.
    </p>
    <p>
      Peersview reserves the right to restrict, suspend, or terminate your campus account if Peersview believes that you may be in breach of
      this Agreement or law or are misusing the Services.
    </p>

    <h4 class="heading">
      2. Definition of Key Terms
    </h4>
    <p>
      <strong>“Agreement”</strong> means this software service agreement, any applicable product addendum, and the order form.
    </p>
    <p>
      <strong>&quot;Confidential Information&quot;</strong> means any nonpublic information or materials disclosed by either party to the other
      party, either directly or indirectly, in writing, orally, or by inspection of tangible objects that the disclosing
      party clearly identifies as confidential or proprietary.
    </p>
    <p>
      <strong>“Devices”</strong> means a server, system, work station, computer, mobile device, or end point upon or through which the services
      are used and (or) on which the software is installed.
    </p>
    <p>
      <strong>“Documentation”</strong> means official user documentation prepared and provided by Peersview to you on the use of the services
      or software as updated from time to time. This does not include online community site; unofficial documentation,
      videos, white papers, related media, or feedback.
    </p>
    <p>
      <strong>&quot;Losses&quot;</strong> means all Losses including financial Losses, damages, legal costs and other expenses of any nature whatsoever.
    </p>
    <p>
      <strong>“Order Form”</strong> means the Peersview order page, product information dashboard or other Peersview ordering documents
      that specifies your purchase of the services, pricing and other related information. By signing the order form or clicking
      “proceed” (or similar), you agree that the order form and this agreement shall constitute a binding contract between you and Peersview.
    </p>
    <p>
      <strong>“Services”</strong> means the products and software services, including any application programming interface that
      accesses functionality, that are provided to you by Peersview.
    </p>
    <p>
      <strong>“Term”</strong> means the duration of an order. It is the period between the commencement date on the order form and the end date.
    </p>
    <p>
      <strong>“Your data”</strong> means files or information accessed, used, communicated, stored or submitted by you or your users
      related to you or your user&#39;s use of the services or software.
    </p>
    <p>
      <strong>“User”</strong> means any individual authorized by you to use the services, software and documentation, for whom you have
      purchased a subscription or to whom you have supplied a user identification and password. Users may include:
    </p>
    <ul class="list-item">
      <li>a) Students enrolled with you.</li>
      <li>b) Current staff members of you.</li>
      <li>c) Such other persons as agreed between Peersview and you.</li>
    </ul>

    <h4 class="heading">
      3. Modifications
    </h4>
    <p>
      Occasionally we may, in our discretion, make changes to the Peersview Service and Agreements.
      You will be notified of changes we consider as material changes through the Service.
    </p>
    <p>
      Peersview reserves the right at all times to modify or discontinue, temporarily or permanently, the Service (or any part thereof)
      with reasonable notice. Peersview will not be responsible to you or any third party for refund, in whole or part, of
      service fees for any modification, suspension or discontinuance of the Service.
    </p>
    <p>
      If after such notifications, you continue to use the Service(s), you are expressing and acknowledging your acceptance of the changes.
    </p>

    <h4 class="heading">
      4. Registration, Security and Privacy
    </h4>
    <p>
      In order to become a Peersview user, your campus administrator or another designated person must first create an
      account on the Peersview web-based platform. To create an account, you are required to provide general contact information like name,
      email address, and choose a password. You may also be required to provide an alternative email address to secure your account.
      Peersview will create a password and account during the Service registration process.
    </p>
    <p>You agree to:</p>
    <ul class="list-item">
      <li>a) Try to choose a strong and secure password.</li>
      <li>b) Keep your password secure and confidential.</li>
      <li>c) Immediately notify Peersview of any unauthorized use of your password or account or any other breach of security.</li>
      <li>d) Keep your information accurate and up to date.</li>
      <li>e) Not share an account with anyone else; you are fully responsible for all activities that occur under your password or account unless you close it or report misuse immediately.</li>
      <li>f) Abide by our User Guidelines. Refer to Section 10.</li>
    </ul>
    <p>
      Peersview cannot and will not be liable for any loss or damage arising from your failure to comply with this Section.
    </p>
    <p>For privacy policy please visit ****</p>

    <h4 class="line-level-heading">
      5. Downgrading and Upgrading
    </h4>
    <p>The Online Campus Services offered are:</p>
    <ul class="list-item">
      <li>a) The Standard Campus which is offered free of charge; and</li>
      <li>b) The Premium Campus which you may subscribe for, for a fee.</li>
    </ul>
    <p>Both with access to mobile services.</p>
    <p>
      You may, at any time during the Term, upgrade or downgrade to a different Peersview Campus Service. After an upgrade in
      Peersview Campus Service type, you will be billed immediately for the additional fees due under the upgraded Campus Service for
      the remaining time of the applicable term. The amount due and owning for the upgraded Campus Service will be deducted from the
      amount you have already paid for the applicable term. After a downgrade in Campus Service, you will be billed the fees
      due for the downgraded Campus Service at the commencement of the Renewal Term. Refer to Section 14.
    </p>
    <h4 class="line-level-heading">6. Trials</h4>
    <p>
      From time to time, Peersview may offer trials of the Premium Campus Service for a specified period without payment (a “Trial”).
      Peersview reserves the right, to determine your eligibility for a Trial, and to withdraw or to modify a Trial at any time
      with prior notice and with no liability.
    </p>
    <p>
      At the end of such Trials, if you were previously operating the Standard Campus Service, you will be reverted to the Standard Campus Service
      until you decide to either not proceed with the services or change your subscription to the Premium Campus
      through your Peersview account settings.
    </p>

    <h4 class="heading">7. License</h4>
    <p>
      The Peersview Service and the content provided through it are the property of Peersview and we grant you a limited, non-exclusive,
      revocable license to make personal, non-commercial use of the Peersview Service and to receive the media content made
      available through the Peersview Service in your Local Country, based on the Subscription or Trial you have selected (the “License”)
      and subject to continuous compliance with this Agreement. Peersview may deliver the Services or Software to You with
      the assistance of its Affiliates, licensors, and service providers. You may provide, make available to, or permit
      Your Users to use or access the Services, the Software, or Documentation, in whole or in part
    </p>
    <p>
      All Peersview trademarks, service marks, trade names, logos, domain names, and any other features of the Peersview brand are the sole
      property of Peersview. This License does not grant you any rights to use the Peersview trademarks, service marks,
      trade names, logos, domain names, or any other features of the Peersview brand, whether for commercial or non-commercial use.
    </p>
    <p>
      The Peersview software applications are licensed, not sold to you and Peersview retains ownership of all copies of the
      Peersview software applications even after installation on your Devices. The Ownership of the software belongs to Peersview, the
      service fee charged by Peersview is for the use of services for a specified period only and not for the ownership of the software.
      Peersview may assign these Agreements or any part of them without restrictions. You may not assign these Agreements
      or any part of them, nor transfer or sub-license your rights under this License, to any third party.
    </p>
    <p>
      You can end this license for specific content by deleting such content from the Services, or generally by closing your account,
      except (a) to the extent you shared it with others as part of the Service and they copied or stored it and (b) for the
      reasonable time it takes to remove from backup and other systems.
    </p>

    <h4 class="heading">
      8. Third Party Service Providers
    </h4>
    <p>
      Peersview takes the privacy of its users very seriously and agrees to honor the choices you make about who gets to see your information
      and content. We will never sell, rent, or otherwise provide your personally identifiable information to any third
      party or parties for marketing purposes. We may provide aggregated data about the usage of our services to third-parties for
      such purposes as we deem, in our sole discretion, to be appropriate. We may segment our users by role (i.e. students, professors),
      subject, geographic location, or by company. If you would like to be excluded from the aggregated research or products based
      upon aggregated data about our users' activities on the application, please contact us via the address in Section 18.15
      indicating same.
    </p>
    <p>
      Peersview is permitted to use other applications or companies to provide some or all of Services and any Additional Services
      (which may include payment services e.g., card acceptance and related services). When we offer such combined services, it
      will always be your choice and at your own risk to make use of the combined services or not. If you decide to use such combined
      services or allow a third-party app or site to authenticate you or connect with your Peersview account, those third-party
      apps and service providers can access information on Peersview related to you and your connections
      including your personally identifiable information.
    </p>
    <p>
      Where you buy on the Peersview website or application, you agree to be bound by the Payment Service Provider's Privacy and hereby
      consent and authorize Peersview and the Payment Service Provider to share any information and payment instructions you
      provide with third-party service provider(s) to the extent required to complete your transactions.
    </p>
    <p>
      Third parties may offer their own products and services through Peersview. We aren't responsible for those third-party activities.
      Peersview generally does not review content provided by our Members. You agree that we are not responsible for third
      parties' (including other Members') content or information or for any damages as result of your use of or reliance on it.
    </p>

    <h4 class="heading">
      9. User Generated Content
    </h4>
    <p>
      Peersview users may post, upload, contribute, link to, transmit, display, store, process and otherwise use text, files, images,
      graphics, illustrations, information, data (including Personal Data as that term is defined in applicable laws), audio,
      video, photographs and other content and material in any format (collectively, "User Content") in connection with Peersview.
    </p>
    <p>
      You represent and warrant that you are the owner of the User Content, or have obtained permission for such use from the owner
      of the User Content and all necessary persons (including parents, students, teachers, interns, aides, principals, other administrative
      personnel, and classroom visitors), and have taken all other actions that may be necessary to ensure that use of User Content by
      us as contemplated by this Agreement, does not (a) violate these Agreements; (b) infringe any applicable law, statute,
      ordinance regulation, or the intellectual property rights of any person or entity as well as school or district policies;
      or (c) constitute disclosure of any confidential information owned by any third party.
    </p>
    <p>
      You own all of the content, feedback, and personal information you provide to us, but you also grant us a non-exclusive,
      transferable, sub-licensable, royalty-free, worldwide license to copy, modify (we will not modify the meaning of your expression),
      distribute, publish, and process information and content (including feedbacks) that you provide through our Services,
      without any further consent, notice and/or compensation to you or others. We will get your consent if we want to give others the
      right to publish your posts beyond the Service. However, other Members and/or Visitors may access and share your content
      and information, consistent with your settings and degree of connection with them.
    </p>
    <p>
      We will not include your content in advertisements for the products and services of others (including sponsored content)
      to others without your separate consent. However, we have the right, without compensation to you or others, to serve ads near
      your content and information, and your comments on sponsored content may be visible as noted in the Privacy Policy.
    </p>
    <p>
      You acknowledge that Peersview has no obligation to pre-screen User Content, although Peersview reserves the right in
      its sole discretion to pre-screen, refuse or remove any User Content for any or no reason, including but not limited to User Content
      that in Peersview’s sole discretion, violates these Agreements. By entering into this Agreement, you hereby provide
      your irrevocable consent to such monitoring. You will have the sole responsibility for the accuracy, quality, integrity, legality,
      reliability, appropriateness and ownership of all of User Content.
    </p>

    <h4 class="heading">
      10. User Guidelines
    </h4>
    <p>Prior to and during the performance of the Services and any Additional Services if required, you agree:</p>
    <ul class="list-item">
      <li>a) To co-operate with Peersview as Peersview reasonably requires.</li>
      <li>b) To provide the information and documentation that Peersview reasonably requires (including every course and module
        offered under each course by Your institution).
      </li>
      <li>c) To ensure that your staff and agents co-operate with and assist Peersview.</li>
      <li>d) To refrain from posting content that is misleading, or that misrepresents or impersonates your affiliation with another individual or entity.</li>
      <li>e) To ensure that you do not use automated means to artificially promote content.</li>
      <li>f) To refrain from posting content that: is hate speech, discriminatory, malicious, threatening, or pornographic; incites violence;
        or contains nudity or graphic or gratuitous violence.
      </li>
      <li>g) To ensure that you do not upload viruses or other malicious code.</li>
      <li>h) Not to collect users' content or information, or otherwise access Peersview, using automated means
        (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.
      </li>
      <li>i) You agree not to modify the Software in any manner or form, or to use modified versions of the Software,
        including (without limitation) for the purpose of obtaining unauthorized access to the Service. Peersview provides You the access to use
        Peersview and Peersview will host this in a secured server of its choice.
      </li>
      <li>j) You agree not to access the Services by any means other than through the interface that is provided by Peersview
        for use in accessing the Service.
      </li>
      <li>k) To ensure that you do not post user content that engages in commercial activities and/or sales, such as contests,
        sweepstakes, barter, advertising, and pyramid schemes, without our prior written consent.
      </li>
      <li>l) Not to charge for Peersview’s use of the Facilities made available by You.</li>
      <li>m) To use the Peersview Service (including but not limited to its content) only in manner expressly permitted by the Agreement.</li>
      <li>n) Not to facilitate or encourage any violations of this Agreement or our policies.</li>
    </ul>

    <h4 class="heading">
      11. Proprietary Rights of Peersview
    </h4>
    <p>
      You acknowledge and agree that the Service and any necessary software used in connection with the Service contain
      proprietary and confidential information that is protected by applicable intellectual property and other laws. You further acknowledge
      and agree that information presented to You through the Service is protected by copyrights, trademarks, service marks,
      patents or other proprietary rights and laws. Except as expressly authorized by Peersview, you agree not to modify, rent, lease,
      loan, sell, distribute or create derivative works based on the Service or the website, in whole or in part.
    </p>
    <p>
      All Peersview trademarks, service marks, trade names, logos, graphics, domain names, and any other features of the
      Peersview brand are the sole property of Peersview and Peersview reserves all of its intellectual property rights in the Services. Other
      trademarks and logos used in connection with the Services may be the trademarks of their respective owners.
    </p>
    <p>This clause will survive termination or expiry of this Agreement.</p>

    <h4 class="heading">
      12. Limitation
    </h4>
    <p>
      You agree that, to the extent permitted by applicable law, your sole and exclusive remedy for any problems or
      dissatisfaction with the Peersview Service, the Third-Party Applications or the Third-Party Application content is to uninstall any Peersview
      software and to stop using the Peersview Service, the Third-Party Applications or the Third-Party Application content.
    </p>
    <p>
      THIS LIMITATION OF LIABILITY IS PART OF THE BASIS OF THE BARGAIN BETWEEN YOU AND PEERSVIEW AND SHALL APPLY TO ALL
      CLAIMS OF LIABILITY (E.G. WARRANTY, TORT, NEGLIGENCE, CONTRACT, LAW). TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL PEERSVIEW,
      ITS OFFICERS, SHAREHOLDERS, EMPLOYEES, AGENTS, DIRECTORS, SUBSIDIARIES, AFFILIATES, SUCCESSORS, ASSIGNS, SUPPLIERS OR LICENSORS
      BE LIABLE FOR (i) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL (INCLUDING LOSS OF USE, DATA,
      BUSINESS, OR PROFITS OFFENSIVE OR DEFAMATORY STATEMENTS, DOWN TIME OR LOSS, USE OR CHANGES TO YOUR INFORMATION OR CONTENT) DAMAGES,
      ARISING OUT OF THE USE OR INABILITY TO USE THE PEERSVIEW SERVICE, THIRD PARTY APPLICATIONS OR THIRD PARTY APPLICATION
      CONTENT, REGARDLESS OF LEGAL THEORY, WITHOUT REGARD TO WHETHER PEERSVIEW HAS BEEN TOLD OF THE POSSIBILITY OF ANY SUCH DAMAGE,
      AND EVEN IF THESE REMEDIES FAIL THEIR ESSENTIAL PURPOSE.
    </p>
    <p>IN NO EVENT SHALL THE LIABILITY OF PEERSVIEW (AND THOSE THAT PEERSVIEW WORKS WITH TO PROVIDE THE SERVICES) EXCEED,
      IN THE AGGREGATE FOR ALL CLAIMS, AN AMOUNT THAT IS THE LESSER OF THREE TIMES THE MOST RECENT MONTHLY OR YEARLY FEE THAT YOU PAID FOR
      A PREMIUM SERVICE, IF ANY, OR US $500.
    </p>
    <p>SOME LAWS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY, SO THESE LIMITS MAY NOT APPLY TO YOU.</p>
    <p>This clause will survive termination or expiry of this Agreement.</p>

    <h4 class="heading">
      13. Chance Occurrences
    </h4>
    <p>
      Peersview is not responsible for any down time or interruptions to the Business, or any loss or damage
      resultant from activities beyond the control of Peersview such as power failures, war, riots, natural disasters,
      vandalism and other events.
    </p>

    <h4 class="heading">
      14. Subscriptions, Payments, Cancellations and Refunds
    </h4>
    <p class="sub-heading">14.1 Subscriptions</p>
    <p>
      Subscription may be per semester, monthly or annually. If you have a Paid Subscription, your payment to Peersview will
       automatically renew at the end of the subscription period, unless you cancel your paid subscription before the end of the current
      subscription period. Refer to Section 5.
    </p>
    <p>
      Peersview may change the price for the paid subscriptions from time to time, and will communicate any price changes to you.
      Price changes for paid subscriptions will take effect at the start of the next subscription period following the date of the
      price change. By continuing to use the Peersview Service after the price change takes effect, you accept the new price. Refer to Section 5.
    </p>
    <p class="sub-heading">14.2 Payments</p>
    <p>Registration fee may apply, depending on size of the institution.</p>
    <p>
      You must pay us for applicable fees and taxes unless you cancel a purchase. Where you fail to make a payment by the
      date specified in an invoice or as otherwise provided for in the Order Form, Peersview reserves the right to not perform any further
      Services (or any part of the Services).
    </p>
    <p>
      For certain Services, you may elect, or you may be required, to provide a valid credit card. By submitting the credit card,
      you authorize us to store your payment information and charge to your credit card the fees or charges applicable to your Account
      as is set forth in any Order, or if any Order is renewing automatically the renewal and a fee or charge is due and payable.
      You agree that Peersview is not required to provide you any additional notice. Your agreement with your credit card issuer
      governs your use of the designated credit card and you must refer to that agreement to determine your rights and
      liabilities in connection with your use of your credit card. You agree to immediately notify Peersview of any change in your billing
      address or the credit card used for payment hereunder.
    </p>
    <p>
      There may be fees and taxes that are added to our prices (you will be informed duly before being charged).
      Taxes are calculated based on the billing information that you provide us at the time of purchase.
    </p>
    <p>Also: Your purchase may be subject to foreign exchange fees or differences in prices based on location (e.g. exchange rates).</p>
    <p class="sub-heading">14.3 Cancellation</p>
    <p>
      Any cancellation of Paid Services will take effect the day after the last day of the current subscription period,
      and you will be downgraded to the Free Service. However, if you cancel your payment and/or terminate the Agreement before the end of
      the subscription period, Peersview is not liable to refund any subscription fees already paid to us. To cancel
      your subscription, use your subscription page, contact us through the customer service contact form or write to us at our address contained
      in section 18.15 with the details of your payment.
    </p>
    <p class="sub-heading">14.4 Refund</p>
    <p>
      Please ensure that the services you subscribe to or order are suitable for your needs, as refunds will be made only if
      the service provided fails to meet the description given. If you are unsure, please contact us to discuss your requirements before
      placing your order. In any event, we only offer refunds for the unused portion of any service period, and no refund is
      available in the case of account termination resulting from violation of our User Service Agreement. All refunds are at the discretion
      of Peersview.
    </p>

    <h4 class="heading">
      15. Confidentiality
    </h4>
    <p>
      A party receiving confidential information will: (i) hold the disclosing party’s Confidential Information in
      confidence and use reasonable care to protect the same; (ii) use such Confidential Information only for the purposes for which it was disclosed,
      unless otherwise set forth herein.
    </p>
    <p>
      The restrictions will not apply to Confidential Information to the extent it (i) is, or through no fault of the
      recipient has become, generally available to the public; (ii) was lawfully received by the receiving party from a third party without such
      restrictions; (iv) was known to the receiving party without such restrictions prior to receipt from the disclosing party;
      (v) was independently developed by the receiving party without breach of this Agreement or access to or use of the Confidential
      Information.
    </p>
    <p>
      The recipient may disclose Confidential Information to the extent the disclosure is required by law, regulation, or
      judicial order, provided that the receiving party will provide to the disclosing party prompt notice, where permitted, of such order
      and will take reasonable steps to contest or limit the steps of any required disclosure.
    </p>
    <p>This clause will survive termination and expiry of this Agreement.</p>

    <h4 class="heading">
      16. Indemnity
    </h4>
    <p>
      You agree to indemnify and hold Peersview, and its subsidiaries, affiliates, officers, agents, co-branders or other
      partners, and employees, harmless from any claim or demand, including any attorneys' fees, made by any third party due to: (i) Your
      Data; (ii) Your (or Your User’s) breach of this Agreement; (iii) Your (or Your User’s) use of the Services, Software, or
      Documentation in violation of third party rights, including any intellectual property rights, or any applicable laws, or (iv)
      Your (or Your User’s) misuse of the Services, Software, or Documentation.</p>
    <p>This clause will survive termination or expiry of this Agreement.</p>

    <h4 class="heading">
      17. Disclaimer of Warranty
    </h4>
    <p>
      THE SERVICES, SOFTWARE, DOCUMENTATION, AND ALL OTHER PRODUCTS AND SERVICES PROVIDED HEREUNDER, INCLUDING THIRD PARTY HOSTED SERVICES,
      ARE PROVIDED ON "AS IS" AND "AS IS AVAILABLE" BASIS. PEERSVIEW DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES OF ANY
      KIND, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE,
      NON-INFRINGEMENT, ACCURACY, RELIABILITY, SECURITY, CONTINUITY, OR ABSENCE OF DEFECT RELATING TO THE SERVICES, SOFTWARE, DOCUMENTATION,
      ANY OTHER PRODUCT OR SERVICES, OR RESULTS OF THE SAME PROVIDED TO YOU UNDER THIS AGREEMENT. PEERSVIEW DOES NOT WARRANT
      THAT THE SPECIFICATIONS OR FUNCTIONS CONTAINED IN THE SERVICES OR SOFTWARE WILL MEET YOUR REQUIREMENTS OR THAT DEFECTS IN THE
      SERVICES OR SOFTWARE WILL BE CORRECTED. YOUR ACCESS, INSTALLATION, AND USE OF THE SOFTWARE AND SERVICES ARE AT YOUR SOLE
      DISCRETION AND RISK, AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGES TO YOUR DEVICE(S) OR THE LOSS OR CORRUPTION OF YOUR DATA.
      PEERSVIEW ALSO SPECIFICALLY DISCLAIMS RESPONSIBILITY OF THIRD PARTY PRODUCTS AND SERVICES WITH WHICH YOU MAY UTILIZE
      THE SERVICES AND SOFTWARE, AND YOU SPECIFICALLY DISCLAIM AND WAIVE ANY RIGHTS AND CLAIMS YOU MAY HAVE AGAINST PEERSVIEW WITH RESPECT
      TO SUCH THIRD PARTY PRODUCTS AND SERVICES, TO THE MAXIMUM EXTENT PERMITTED BY LAW.
    </p>
    <p>This clause will survive termination and expiry of this Agreement.</p>

    <h4 class="heading">
      18. General
    </h4>
    <p class="sub-heading">18.1 Termination</p>
    <p>
      Monthly subscription: Either Party may terminate this Agreement by notice in writing prior to the expiration of the
      current term of subscription. Termination will take effect after the relevant term is completed.
    </p>
    <p>
      Annual or Other Term: After the initial term, you may terminate the agreement by providing Peersview with written
      notice of your intention to terminate the agreement. Termination will take effect on the first day of the full month after receipt of
      the termination notice. On termination, you lose the right to access or use the Services. The following shall survive termination:
    </p>
    <ul class="list-item">
      <li>a) Our rights to use and disclose your feedback.</li>
      <li>b) Members' and/or Visitors' rights to further re-share content and information you shared through the
        Service to the extent copied or re-shared prior to termination.
      </li>
    </ul>
    <p>
      You shall not receive a refund of any payment made prior to the termination. Any amounts owed by either party
      prior to termination remain owed after termination. All provisions of this Agreement which by their nature should survive termination will
      survive termination of the Agreement, including without limitation ownership provisions, warranty disclaimers and limitation of liability.
    </p>
    <p>
      Peersview reserves the right to restrict, suspend, or terminate your account if Peersview believes that you may
      be in breach of this Agreement or law or are misusing the Services.
    </p>
    <p class="sub-heading">18.2 No Partnership or Employment Relationship</p>
    <p>
      Nothing in this Agreement constitutes the relationship of employer and employee between You and
      Peersview or between Your user(s) and Peersview’s Personnel. The relationship between the Parties is that
      of principal and independent contractor. It is
      the express intention of the Parties that any such relationships are denied.
    </p>
    <p class="sub-heading">18.3. Entire agreement</p>
    <p>
      This Agreement and the accompanying Order Form contain everything the Parties have agreed on in relation
      to the matters it deals with, and neither party can rely on an earlier document or anything said or done by
      another party, or by a director, officer, agent or employee of that party, before this document was executed, save as permitted by law.</p>
    <p class="sub-heading">18.4. Inconsistencies</p>
    <p>
      In the event of any inconsistency between the Order Form and this Agreement, the later in time shall
      prevail to the extent of the inconsistency.
    </p>
    <p class="sub-heading">18.5. Severability</p>
    <p>
      If a clause or part of a clause of this Agreement can be read in a way that makes it illegal, unenforceable or
      invalid, but can also be read in a way that makes it legal, enforceable and valid, it must be read in the latter way.
      If any clause or part of a clause is illegal, unenforceable or invalid, and cannot be modified to make that
      part enforceable, that clause or part is to be removed completely while the rest of the agreement still remains
      enforceable, or that clause shall be deemed replaced by a provision that is binding and enforceable and that differs
      as little as possible from the unenforceable provision, with considerations of the object and purpose of this Agreement.
    </p>
    <p class="sub-heading">18.6. Time</p>
    <p>Time is of the essence as regards any date or period determined under this Agreement and if any such date or period is altered by written agreement between the Parties time is of the essence as regards such date or period as so altered.</p>
    <p class="sub-heading">18.7 Waiver</p>
    <p>
      The fact that a party fails to do, or delays in doing, something the party is entitled to do under this Agreement,
      does not amount to a waiver of any obligation of, or breach of obligation by, another party. A waiver by a party is only effective if
      it is in writing. A written waiver by a party is only effective in relation to the particular obligation or breach
      in respect of which it is given. It is not to be taken as an implied waiver of any other obligation or breach or as an implied waiver
      of that obligation or breach in relation to any other occasion.
    </p>
    <p class="sub-heading">18.8 Jurisdiction</p>
    <p>
      The Website is administered by the Peersview Company, as specifically disclosed in the footer of the Website,
      from its office in Canada. The Websites and the Agreements will be governed by and construed in accordance with the laws of the Province
      of Ontario and the laws of Canada applicable therein, without giving effect to any principles of conflicts of laws,
      and notwithstanding your domicile, residence or physical location.
    </p>
    <p>
      All disputes, controversies or claims arising out of or in connection with the Websites and the Agreements
      shall be submitted to and be subject to the jurisdiction of the courts of the Province of Ontario. Subject to the Arbitration and Actions paragraph
      below, each party hereby agrees to submit to the jurisdiction of the courts of the Province of Ontario and the Federal
      Courts situate therein, and to waive any objections based upon venue to adjudicate or determine any suit, action or proceeding
      arising out of or in connection with the Websites and the Agreements.
    </p>
    <p class="sub-heading">18.9 Arbitration and Actions</p>
    <p>
      Except where prohibited by applicable law, any controversy, claim or dispute arising out of or relating to these
      Agreements or your use of Peersview service(s) including without limitation, the performance, breach, enforcement, existence or validity
      of the matters provided for in these Agreements which cannot be amicably resolved, even if only one of the parties
      declares that there is a difference (collectively, a "Claim"), will be referred to and finally settled (to the exclusion of the courts)
      by private and confidential binding arbitration before a single arbitrator held in Nigeria in English and governed by
      Nigerian law pursuant to the Arbitration and Conciliation Act Cap. A18 Laws of the Federation of Nigeria 2004 or in Ontario in
      English and governed by Ontario law pursuant to the Arbitration Act 1991, (Ontario) respectively, as amended, replaced or
      re-enacted from time to time. Judgment on the award may be entered in any court having jurisdiction thereof.
    </p>
    <p>
      Any such Claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim,
      controversy or dispute of any other party. Except where prohibited by applicable law, you agree to waive any right you may
      have to commence or participate in any class action against us related to any Claim and, where applicable, you also agree to opt
      out of any class proceedings against us. Notwithstanding the foregoing, we reserve the right to pursue the protection
      of intellectual property rights and confidential information through injunctive or other equitable relief through the courts.
    </p>
    <p>
      (The demand for arbitration shall be made within a reasonable time after the claim, dispute or other matter in question
      has arisen, and in no event shall it be made after one year from when the aggrieved party knew or should have known of the controversy,
      claim, dispute or breach. If applicable law prohibits a one-year limitations period for asserting claims, any claim must
      be asserted within the shortest time period permitted by applicable law.)
    </p>
    <p class="sub-heading">18.10 Performance of Obligations during Dispute</p>
    <p>Despite the existence of a dispute, Peersview will (unless requested in writing by You not to do so) continue
      to perform its obligations under this Agreement.
    </p>
    <p class="sub-heading">18. 11 Costs of Dispute Resolution</p>
    <p>
      Each party will bear its own costs of dispute resolution and the Parties will bear equally the cost of any
      third person engaged for dispute resolution.
    </p>
    <p class="sub-heading">18.13 No Authority to Act</p>
    <p>No party has any power or authority to act for or to assume any obligations or responsibility on behalf of
      another party, to bind another party to any Agreement, negotiate or enter into any binding relationship for or on behalf of another party or
      pledge the credit of another party except as specifically provided in this Agreement or by express written agreement between the Parties.
    </p>
    <p class="sub-heading">18.14 Questions or Comments</p>
    <p>
      If you have any questions or comments about this User Service Agreement; If you believe that any User Content
      infringes your intellectual property rights, or that any User Content does not comply with the User Guidelines (Refer Section 10) or that
      your rights under applicable law have been otherwise infringed by any User Content, please contact us at the address below.
    </p>
    <p class="sub-heading">18.15 Notices</p>
    <p>
      Notices to You may be made via either email or regular mail. The Service may also provide notices of
      changes to the User Service Agreement or other matters by displaying notices or links to notices to you generally
      on the Service. As regards notices by you to Peersview, you agree that the only way to provide
      legal notice is in writing; either by post, fax or e-mail at the addresses provided below:
    </p>
    <p>E-mail: info@peersview.com</p>
    <p>Telephone:</p>
    <p>Fax:</p>
    <p>Address: 19a, Adetokunbo Ademola Street, Victoria Island, Lagos, Nigeria.</p>
  </div>
</div>