.profile-content-component {
  .timeline-text {
    background: transparent;
    color: #323c47;
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
  }
  .post-message {
    padding-top: 30px;
  }
  .load-more button {
    margin-bottom: 10px;
  }
  shared-stars-component {
    display: flex;
    align-items: center;
  }
}