<div class="widget">
	<div class="widget-title">POPULAR QUESTIONS</div>
	<div class="question-item">
		<p><b>What are the advantages of using Angular.js framework?</b></p>
		<button class="btn-peersview-sm write-answer">
			<i class="material-icons">create</i>
			ANSWER
		</button>
	</div>
	<div class="question-item">
		<p><b>Why use Node.js?</b></p>
		<button class="btn-peersview-sm write-answer">
			<i class="material-icons">create</i>
			ANSWER
		</button>
	</div>
	<div class="question-item">
		<p><b>Why Bootstrap is used for Mobile Web Development?</b></p>
		<button class="btn-peersview-sm write-answer">
			<i class="material-icons">create</i>
			ANSWER
		</button>
	</div>
</div>
