<div class="menu_nav forum-left-menu">
  <div class="sticky sticky-width wide community-menu">
    <div class="fixed-sidebar text-lower">
      <ul class="forum-menu">
        <li [routerLinkActive]="'active'" class="forum-career forum-menu-item">
          <a [routerLink]="['student-community']">
            <span class="link-text"> Student Community</span>
          </a>
        </li>
        <li [routerLinkActive]="'active'" class=" forum-home forum-menu-item">
          <a [routerLink]="['private-community']">
            <span class="link-text">
              Private Community
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>