<div class="become-a-mentor-component">
	<button class="modal-close" mat-dialog-close>
		<i class="material-icons"> clear </i>
	</button>
	<div class="modal-heading">
		<h3 class="text-center peersview-primary-color">Application for Peer Mentoring</h3>
	</div>
	<div class="modal-body">
		<input type="text" class="form-control m-peersview-y-1" placeholder="Name">
		<input type="text" class="form-control m-peersview-y-1" placeholder="Topics of Expertise">
		<input type="text" class="form-control m-peersview-y-1" placeholder="Contact Details">
		<textarea rows="4" class="form-control m-peersview-y-1" placeholder="Tell us why you want to become a mentor?"></textarea>
		<button
		type="button"
		class="btn-apply pull-right btn-peersview-primary btn-peersview-md"
		>
		Apply
	</button>
	</div>
</div>