<div class="community-private-component">
	<div>
		<ul class="group-container row">
			<li 
				(click)="onSelectCommunityType('discoverCommunity')" 
				[ngClass]="{active: selectedCommunitySelected === 'discoverCommunity'}"
				class="col-xs-6 mouse-pointer" 
				> 
				<a >Popular Communities</a> 
			</li>
			<li 
				(click)="onSelectCommunityType('myCommunity')" 
				[ngClass]="{active: selectedCommunitySelected === 'myCommunity'}"
				class="col-xs-6 mouse-pointer" 
				> 
				<a>My Communities</a> 
			</li>
		</ul>
	</div>
	<div class="text-right">
		<button (click)="onCreateCommunity()" class="btn-peersview-primary btn-peersview-md btn-create">Create a Community 
			<i class="material-icons">add</i>
		</button>
	</div>

	<!-- Discover tab -->
	<div class="private-community-body row" *ngIf="selectedCommunitySelected === 'discoverCommunity'">
		<div class="col-md-4">
			<div class="community-item">
				<button class="btn-peersview-primary add-mentor">
					<i class="material-icons">add</i>
				</button>
				<h4 class="text-center">
					Students Fashion
				</h4>	
				</div>
			</div>
			<div class="col-md-4">
				<div class="community-item">
					<button class="btn-peersview-primary add-mentor">
						<i class="material-icons">add</i>
					</button>
					<h4 class="text-center">Students Fashion</h4>	
				</div>
			</div>
			<div class="col-md-4">
				<div class="community-item">
					<button class="btn-peersview-primary add-mentor">
						<i class="material-icons">add</i>
					</button>
					<h4 class="text-center">Students Fashion</h4>	
				</div>
			</div>
	</div>
	<div class="private-community-body row" *ngIf="selectedCommunitySelected === 'myCommunity' && communities.length !== 0">
    <div class="col-md-4" *ngFor="let community of communities;">
      <div class="community-item">
        <button class="btn-peersview-primary add-mentor">
          <i class="material-icons">add</i>
        </button>
        <h4 class="text-center">{{ community.name }}</h4>	
      </div>
    </div>
  </div>
  <div class="private-community-body row" *ngIf="selectedCommunitySelected === 'myCommunity' && communities.length === 0">
    <br/>
    <div class="text-center">
      <h4>No Private Communities created yet.</h4>
    </div>
  </div>
</div>
