<div class="new-message">
  <button
    class="close m-peersview-y-1"
    mat-dialog-close
    (click)="onCancel();">×</button>
  <div class="create-new-forum">
    <h3 class="modal-heading">New Message</h3>
    <div class="modal-divider"></div>
    <div class="modal-body">
      <div class="alert alert-success" id="email-confirmation" style="display:none;">
        <i class="icon-success"></i>
        Sent confirmation link to registered email.
      </div>
      <div class="new-message-form">
        <!-- <div class="form-group">
          <label>To</label>
          <input type="text" class="form-control" placeholder="Name"/>
        </div> -->
        <div class="form-group">
          <label>Message</label>
          <textarea placeholder="Write a message here..." rows="3" class="form-control"></textarea>
        </div>
        <!-- <div class="form-group">
          <label>Attach a File</label>
          <input type="file"/>
        </div> -->
        <button type="button" class="btn-peersview-secondary btn-peersview-md">Send</button>
      </div>
    </div>
  </div>
</div>