.index-community-screenshot-page-component {
  padding: 0 0 40px 0;
  // background: url('https://res.cloudinary.com/peersview-com/image/upload/v1519072493/communityBg.jpg') no-repeat;
  background-size: cover;
  color: #ffffff;
  border-bottom: 1px solid #65298a;
  .padding {
    padding-left: 5px;
    padding-right: 5px;
  }
  .font-size {
    font-size: 20px;
  }
  .width {
    width: 75%;
  }
  .margin-bottom {
    margin-bottom: 15px;
  }
  .commnity-body {
    padding-top: 50px;
  }
  .community-show-sticky {
    display: block;
  }
  .title-header {
    font-weight: normal;
  }
  small {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
  }
  .get-started {
    margin-top: 20px;
  }
}
