<div class="index-community-screenshot-page-component">
  <div class="container commnity-body">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="carousel slide text-center" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <cl-image
              public-id="home-page-post_hhvit3"
              width="800"
              >
            </cl-image>
          </div>
          <div class="item">
            <cl-image
              public-id="home-page-poll_ugyuaj"
              width="800">
            </cl-image>
          </div>
          <div class="item">
            <cl-image
              public-id="home-page-share-story_lxsmap"
              width="800">
            </cl-image>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
