<div class="shared-sidebar-footer-component">
  <ul>
    <li><a target="_blank" routerLink="/about">About Us</a></li>
    <li><a target="_blank" routerLink="/about">Our Team</a></li>
    <li><a target="_blank" routerLink="/careers">Careers</a></li>
    <li><a target="_blank" routerLink="/support">Support</a></li>
    <li><a target="_blank" routerLink="/events">Events</a></li>
    <li><a target="_blank" routerLink="/community">Campus</a></li>
    <li><a target="_blank" routerLink="/terms-of-use">Privacy Policy</a></li>
    <li><a target="_blank" routerLink="/terms-of-use">Terms & Conditions</a></li>
    <li><a target="_blank" routerLink="/contact">Contact Us</a></li>
  </ul>
  <p>Copyright 2017 All rights reserved.</p>
</div>