<div class="privacy-policy-component">
    <div class="container-fluid privacy-policy">
      <shared-navbar-unauth-component
        [aboutUs]=true
        [signUp]=true>
      </shared-navbar-unauth-component>
      <h1 class="text-center">Privacy Policy</h1>
    </div>
  
    <div class="container body">
        <h4 class="heading">
            INTRODUCTION
        </h4>
        <h4 class="sub-heading">
            Welcome to Peersview!
        </h4>
        <h4 class="sub-heading">
            We are committed to protecting your privacy!
        </h4>
        <p>
            Peersview Media knows that your privacy is important to you, and we want
            you to know that it is important to us too. We created this Policy to explain
            the types of information we collect, use and share about you through our
            website located at <a href="">www.peersview.com</a> and applications.
        </p>
        <p>
            By visiting and /or using any of the services, you agree to be bound by the terms
            of this privacy policy. Please read this notice carefully to understand what we
            do. If you do not understand any aspects of our Privacy Policy, please feel free
            to contact us. Your use of our Site is also governed by our Terms and User
            Service Agreement.
        </p>
        <p>
            Please note that we review our privacy practices from time to time, and that
            these practices are subject to change. Any change, update, or modification will
            be effective immediately upon posting on our Website. Peersview will notify
            Users of any changes to our Privacy Policy by posting the revised Privacy
            Policy with an updated date of revision on our Properties, along with a short
            notice of the revision posted on our homepage. Be sure to return to this page
            periodically to ensure familiarity with the most current version of this Privacy
            Policy. Your use of the service following the posting of any changes to the
            privacy policy constitutes acceptance of those changes.
        </p>
        <h4 class="heading">
            INFORMATION WE COLLECT
        </h4>
        <h4 class="sub-heading">
            Information and Content Provided by You
        </h4>
        <p>
            We collect the content, communications and other information you provide such
            as your name, contact information, gender, photo, date of birth, location, billing
            information, and occupation when you use our products, including when you
            sign up for a user account, update or change information for your account,
            register through or otherwise grant access to a third-party website such as
            Facebook or Google, subscribe to a Peersview Digital Campus Service,
            complete a survey, participate in public forums or enter into a transaction
            through the Site. Peersview collects any user data you upload to the Peersview
            network whether it is in the form of opinion, a forum post or other text, image,
            audio file, audio-visual file, software or any other material uploaded to the
            Services. We may receive Personally Identifiable Information when you send us
            an email message or otherwise contact us.
        </p>
        <h4 class="sub-heading">
            Your Usage data
        </h4>
        <p>
            We collect information about how you use our Products, such as what services
            you access most often, the order in which they were accessed, when they were
            accessed, and which hyperlinks were "clicked." We also collect information
            from the URLs from which you linked to our Site. We collect information on
            the types of content you view or engage with; the features you use; the actions
            you take; the people or accounts you interact with. Collecting such information
            may involve logging the IP address, operating system and browser software
            used by each user of the Site session sources, and other data which tracks users'
            access to the Services.
        </p>

        <h4 class="sub-heading">
            Device Information
        </h4>
        <p>
            When you access our Services by or through a mobile device, laptop or tablet,
            we collect and store unique identification numbers associated with your device,
            mobile carrier, device type, model and manufacturer, mobile device operating
            system brand and model, depending on your device settings, your geographical
            location data, your camera or photos. You may be able to change the settings on
            your computer or mobile device to prevent it from providing us with any
            location information.
        </p>
        <h4 class="sub-heading">
            Information from partners
        </h4>
        <p>
            We may receive information of your activities from partners who have the right
            to collect and share such information. This may include information about your
            device, websites you visit, purchases you make, the ads you see, and how you
            use their services. For example, a business could tell us about a purchase you
            made in its store.
        </p>
        <h4 class="sub-heading">
            Cookie Data
        </h4>
        <p>
            We collect data from cookies stored on your device, including cookie IDs and settings.
        </p>
        <h4 class="heading">
            HOW WE USE THE INFORMATION COLLECTED
        </h4>
        <ul class="list-item">
            <li>
                <strong>
                    To improve the products and services we offer
                </strong>
                <p>
                    Peersview uses all of the information that you provide or that we collect
                    from you to deliver our services and enhance our relationship with you.
                    We use the information to understand and analyse your usage trends,
                    learning behaviours, and preferences, to improve the way the Properties
                    work and look, and to create new features and functionality on the
                    website and mobile applications. This includes remembering your recent
                    activity so we can recommend the most appropriate content for you on
                    your next visit.
                </p>
            </li>
            <li>
                <strong>
                    To verify your identity
                </strong>
                <p>
                    We use the personally information and content provided by you to verify
                    your identity and authenticate that log-in submissions made on the Site
                    were made by you.
                </p>
            </li>
            <li>
                <strong>
                    To verify your transactions
                </strong>
                <p>
                    We use billing information collected to verify your transactions, confirm
                    purchases, process billing, security and also for authentication.
                </p>
            </li>
            <li>
                <strong>
                    To facilitate your use of the Forums
                </strong>
                <p>
                    We use your content provided by you and your usage data stored by
                    Peersview to provide a more tailored and consistent experience on all
                    forums. We may archive this information and/or use it in future versions
                    of the Forums and for future communications with you, and/or provide it
                    to our Academic Institution partners for improved services. We may also
                    use or publish posts submitted on the Forums without using Personally
                    Identification Information.
                </p>
            </li>
            <li>
                <strong>
                    To perform research
                </strong>
                <p>
                    We may share general data (e.g. Forum discussions), information about
                    your activity on our Site, and demographic data from surveys operated by
                    us with our Academic Institution partners and other business partners so
                    that these partners may use the data for research related to online learning
                    and campus interaction.
                </p>
            </li>
            <li>
                <strong>
                    For user to user communication
                </strong>
                <p>
                    We provide certain features that may allow you to share information with
                    other Users. For example, when you provide your profile with your name,
                    photo, short biography, university affiliation and location, ask questions
                    on your page, comment on, share or like a post, such profile info,
                    comments, shares or likes will be visible to other Users of the Peersview
                    Services. Whenever you share information with other Users, any Personal
                    Information that you choose to include in, or is associated with, such
                    Postings will be accessible by such other Users. As with most online
                    services, once you make your Personal Information available to others in
                    any of these ways, it may be collected and used by the recipients without
                    restriction.
                </p>
            </li>
            <li>
                <strong>
                    To inform users of new products and services, including promotional
                    offers
                </strong>
                <p>
                    We may share your Personally Identifiable Information with Academic
                    Institution partners and other business partners of Peersview so that
                    Peersview Academic Institution partners and other business partners may
                    share information about their products and services that may be of
                    interest to you.
                </p>
            </li>
            <li>
                <strong>
                    To contact you with information that we believe will be of interest to
                    you
                </strong>
                <p>
                    If you have given Peersview consent, we may use your Personal
                    Information to provide you with information about Peersview’s features,
                    services and other offers that may be of interest to you.
                </p>
                <p>
                    When you send us an email message or otherwise contact us, we may use
                    the information provided by you to respond to your communication
                    and/or as described in this Privacy Policy. We may also archive this
                    information for future communications with you.
                </p>
            </li>
            <li>
                <strong>
                    Cookies
                </strong>
                <p>
                    Essentially, cookies are a user’s identification card which help us
                    recognize you and to personalize your experience at our Site. Cookies
                    cannot be used to retain your personal identifiable information, or run
                    programs or deliver viruses to your computer or device. 
                </p>
                <p>
                    You should be able to control how and whether cookies will be accepted
                    by your web browser. Most browsers offer instructions on how to reset
                    the browser to reject cookies in the "Help" section of the toolbar or by
                    choosing the “opt-out” option on cookie pop up notifications. If you
                    reject our cookies, many functions and conveniences of this Site may not
                    work properly.
                </p>
            </li>
        </ul>
        <h4 class="heading">
            SHARING YOUR INFORMATION
        </h4>
        <h4 class="sub-heading">
            People and accounts you share and communicate with
        </h4>
        <p>
            When you share and communicate using our Products, you choose the audience
            for what you share. For example, when you post on a forum, you select the
            audience for the post, such as a group, the public, or a customized list of people.
            Your network can also see actions you have taken on our Products, including
            engagement with ads and sponsored content. Please be aware that information
            posted or sent by or to you via any public Forum can be viewable by other users
            and the public.
        </p>
        <h4 class="sub-heading">
            Disclosure to Third Parties
        </h4>
        <p>
            Peersview will not sell, rent, loan, or otherwise disclose Personal Information to
            other third-parties outside Peersview and its agents for their use without your
            consent or except as part of a specific program or feature for which you will
            have the ability to opt-in. You can grant us permission to share your Personal
            Information with authorized partners, not-for-profit organizations, and other
            entities that are not affiliated with Peersview. In these cases, we will only
            provide to these third parties the information you have authorized or asked us to
            share to these third parties.
        </p>
        <h4 class="sub-heading">
            Peersview Service Providers
        </h4>
        <p>
            Peersview may use Service Providers to carry out its functions and provide
            services to you. We take care to use only service providers that we believe are
            reputable and able to live up to our and your expectations, including the
            handling of confidential information. These companies are authorized to use
            your personal information only as necessary to provide these services to us.
            These Service Providers may include operators, vendors and suppliers that
            provide us with technology, services, and/or content related to the operation and
            maintenance of the Site.
        </p>
        <h4 class="sub-heading">
            Payment Processors
        </h4>
        <p>
            When you subscribe to the Digital campus service, we use credit card and other
            personal information and other information that we collect, as required, to
            process payments you make to our organisation, payment processor
            intermediaries. We do not store credit card or other payment method
            information unless the Subscriber choose to enter credit card information for
            use in the Peersview recurring profiles segment; in all other cases our payment
            processors have the sole and complete responsibility for the storage of credit
            card and payment information. We may also share personal information with
            our payment processor intermediaries for risk management and fraud
            prevention.
        </p>
        <h4 class="sub-heading">
            Academic Institutions
        </h4>
        <p>
           As a student using our services, Peersview collects Personally Identifiable
            Information (“Student Data”). Peersview does not use student data for any
            purpose other than improving and providing our Services to or on the behalf of
            the relevant Academic Institutions. How your Academic Institution uses your
            information will be subject to its internal policies on privacy, which will
            indicate how your Academic Institution uses the Information including any
            disclosure to third parties.
        </p>
        <h4 class="sub-heading">
            External Links
        </h4>
        <p>
            For your convenience we may provide links to websites operated by companies
            other than Peersview (“Third-Party Sites”) that we believe may be of interest or
            help to you (for example registering or logging in through third-party websites
            like Facebook, Twitter or Google). Our Site also includes Social Media
            Features, such as the Facebook and Twitter share buttons and Widgets on our
            Site.
        </p>
        <p>
            These Features may collect your IP address, which page you are visiting on our
            Site, and may set a cookie to enable the Feature to function properly. Social
            Media Features and Widgets are either hosted by a third party or hosted directly
            on our Site. Your interactions with these Features are governed by the privacy
            policy of the company providing it. Peersview doesn’t accept any responsibility
            for the privacy practices of such other websites. If you choose to click on a link
            to one of these Third-Party Sites, you should review the privacy policy posted
            on the other website to understand how that Third-Party Site collects and uses
            your Personal Information.
        </p>
        <h4 class="sub-heading">
            Government Authorities, Legal Rights and Actions
        </h4>
        <p>
            The personal information you supply to Peersview may be disclosed to parties
            outside of Peersview and its agents when we believe in good faith that
            disclosure is reasonably necessary in response to subpoenas, court orders, or
            other legal process; to establish or exercise our legal rights or to protect our
            property; to defend against legal claims; or as otherwise required by law. In
            such cases we reserve the right to raise or waive any legal objection or right
            available to us. We also may share your Personally Identifiable Information
            when we believe it is appropriate to investigate, prevent, or take action
            regarding illegal or suspected illegal activities; to protect and defend the rights,
            property, or safety of Peersview, the Site, our users, customers, or others; and in
            connection with our Terms of Use and other agreements.
        </p>
        <h4 class="sub-heading">
            Disclosure to Acquirers
        </h4>
        <p>
            If the ownership or control of all or part of our Products or their assets changes,
            we may transfer your information to the new owner
        </p>
        <h4 class="heading">
            YOUR OPTIONS IN OUR DATA COLLECTION, USE, AND TRANSFER
        </h4>
        <h4 class="sub-heading">
            Updating and Deleting your Personal Information.
        </h4>
        <p>
            If you register and provide Peersview with Personal Information, you may
            update, correct, or delete your account and information at any time by visiting
            your user profile page and preferences on your account settings page. You may
            unsubscribe from certain email communications by using the “unsubscribe” link
            in our emails. If you experience any difficulties in this process, please contact us
            as described below.
        </p>
        <p>
            When you delete your account, we delete things you have posted, and you won't
            be able to recover that information later. Information that others have shared
            about you isn't part of your account and won't be deleted. If you don't want to
            delete your account but want to temporarily stop using the Products, you can
            deactivate your account instead.
        </p>
        <h4 class="sub-heading">
            You can disconnect us from third-party applications.
        </h4>
        <p>
            You may revoke Peersview’s access to your account on any third-party
            application such as Google or Facebook, at any time by updating the
            appropriate settings in the account preferences of the respective third-party
            application. You should check your privacy settings on each third-party
            application to understand and change the information sent to us through each
            third-party application. Please review each third-party application’s terms of use
            and privacy policies carefully before using their services and connecting to our
            Properties.
        </p>
        <h4 class="heading">
            CONFIDENTIALITY, SECURITY AND RETENTION OF PERSONAL INFORMATION
        </h4>
        <p>
            The confidentiality and security of your information is of the utmost importance
            to us. Peersview takes a variety of technical, administrative, and physical
            measures to protect your Personal Information from disclosure to or access by
            third-parties. Please note that we do not guarantee the security of Personal
            Information, as no method of internet transmission or storage is completely
            secure. Also note that we may retain and store your information in our databases
            and systems even after your Peersview account is deactivated as long as we
            have a legitimate purpose to do so and in accordance with applicable law. It also
            is important for you to protect against unauthorized access to your password and
            to your computer. Sign off and close your web browser when you are finished
            using the services. If you have questions about such security, please contact us
            using the contact details provided below. If you do not agree with these terms,
            then please do not access, browse, or register on the Site. If you choose not to
            provide us with certain information required to provide you with various
            services offered on our Site, you may not be able to establish a user account and
            we may not be able to provide you with those services.
        </p>
        <h4 class="heading">
            PRIVACY FOR INTERNATIONAL USERS
        </h4>
        <p>
            Our services extend to users around the world. Our services are mainly provided
            from our offices in South Africa and Nigeria. However, by nature of the
            services, the data that is viewed, collected, stored or posted on or through the
            services will be transmitted from where ever you are located in the world to
            where our platforms store the same data. Accordingly, by using our services you
            authorize Peersview and its partners to transmit your personal information
            outside of the country, state or province in which you are located and
            to use and process such information according to this privacy policy.
        </p>
        <p>
            Please be aware that the privacy protection policies and the rights of authorities
            and government agencies to access your personal information in some of these
            countries may not be equivalent to those in your country.
        </p>
        <h4 class="heading">
            CUSTOMERS PRINCIPALLY LOCATED AT THE EU
        </h4>
        <p>
            Information collected within Switzerland and the European Economic Area
            ("EEA") may be transferred to, and stored at, a destination outside of
            Switzerland and the European Economic Area ("EEA"). The information we
            hold may also be processed by employees operating outside of Switzerland and
            the EEA who work for us or one of our affiliates or for one of our vendors. Such
            staff may be engaged in, among other things, (i) the processing of transactions
            and your payment details and (ii) the provision of support services. By
            submitting your information to Peersview, you agree to this transfer, storing or
            processing.
        </p>
        <h4 class="sub-heading">
            Children
        </h4>
        <p>
            These services are not designed or intended for use by children or anyone else
            under the age of 13. A student under the age of 13 may use these services where
            the relevant Academic Institution has provided appropriate consent and
            authorization;
        </p>
        <ul class="list-item">
            <li>
                for such student under 13 to use the Peersview Services, and
            </li>
            <li>
                for Peersview to collect information from such student under the age of
                13.
            </li>
        </ul>
        <h4 class="sub-heading">
            Contacting Peersview
        </h4>
        <p>
            Please contact Peersview with any questions or comments about this Privacy
            Policy, your personal information, our third-party disclosure practices, privacy
            of children, or your consent choices by email at (<a href="">info@peersview.com</a>) or by
            mail at:
        </p>
        <p>
            3205 Survey Street,
        </p>
        <p>
            Protea South Johanneburg,
        </p>
        <p>
            South Africa.
        </p>
    </div>
  </div>
