<div class="about-us-how-it-is-started-component">
  <div class="container">
    <div class="details-info">
      <div class="col-md-6 col-sm-9">
        <h1>How it all started</h1>
        <p>
          Every profesional started as a student. As the founders of Peersview, we realized that what students
          need most to become succesful is a mix of academic support and a sense of community.
        </p>
        <p>
          To achieve this, we designed Peersview to increase peer-to-peer interactions among students,
          with an innovative blend of social networking features.
        </p>
        <p>
          Here at Peersview, we foster an incredibly diverse community of students; it is accessible to users from all over the world.
          Our vision is to have every student on our platform feel empowered and connected from debating about topics in college to discussing
          professional passions. Ultimately, the goal of Peersview is to connect students with similar interests,
          likes and opinions in order to help them grow into successful professionals.
        </p>
        <p>
          We simultaneously provide the best tools for obtaining knowledge as well as the ability to create new relationships
          in a way that has proven to be enjoyable to students.
        </p>
      </div>
    </div>
  </div>
</div>