.shared-post-reply-comment-model-component {
  align-items: center;
  width: 100%;

  .modal-close {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 1;
    background: transparent;
    padding: 0;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    i {
      font-size: 18px;
      margin: 3px 0px;
    }
  }

  .post-outer-container {
    height: 75vh;
    margin-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .post-image {
    width: 50px;
    height: 50px;
    margin-right: 3px;
    margin-top: 3px;
    border-radius: 50%;
  }

  /* POST */
  .post {
    margin: 5px 0;
    background-color: #ffffff;
    padding: 10px;
  }
  .user {
    color: #323c47;
    font-size: 16px;
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    white-space: nowrap;
  }
  .post-message {
    p {
      margin: 5px;
      font-size: 1.5rem;
      white-space: pre-line;
    }
  }
  .post-images {
    display: table;
    margin-bottom: 10px;
    .image-outer {
      display: inline-grid;
      .image-inner {
        margin: 0 0 2px 2px;
        border-radius: 3px;

        img {
          width: 100%;
        }
      }
    }
    .single-image {
      width: 100%;
      img {
        max-height: 150px;
        object-fit: cover;
      }
    }
    .multiple-image{
      width: 50%;
    }
  }
  .profile-stars {
    margin-top: 3px;
    .star {
      color: #feac01;
    }
    .user-name {
      position: relative;
      top: -11px;
      display: inline-block;
      font-weight: bold;
    }
  }
  .post-user-name {
    font-weight: bold;
    cursor: pointer;
  }
  .user-school-name,
  .post-time {
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-family: "Maven Pro", sans-serif;
    color: #989898;
  }
  .post-image {
    margin-right: 3px;
    margin-top: 3px;
    width: 50px;
    height: 50px;
  }
  .poll-options {
    ul {
      width: 98%;
      margin-left: 2px;
      background-color: #fcfcfc;
      li {
        padding: 3px;
        border-bottom: 1px solid #ddd;
        input {
          margin-left: 10px;
        }

        .vote-shade-percentage {
          width: 0%;
          height: 20px;
          margin-top: -20px;
          background-color: #ccafde;
          border-radius: 5px;
        }
      }
      .poll-percentage {
        float: right;
      }
    }
  }
  .poll-details {
    width: 98%;
    padding: 5px 0;
    border-left: 3px solid #ddd;
    margin-left: 2px;
    background-color: #fcfcfc;

    div {
      padding: 0 3px;
      text-indent: 8px;
    }
  }
  /* */

  // Custom, iPhone Retina
  @media only screen and (min-width : 320px) {
  }
  // extra Small Devices, Phones
  @media only screen and (min-width : 480px) {}
  // Small Devices, Tablets
  @media only screen and (min-width : 768px) {
    .post-images {
      .single-image {
        img {
          max-height: 250px;
        }
      }
    }
  }
  // Medium Devices, Desktops
  @media only screen and (min-width : 992px) {
    .post-outer-container {
      height: 73vh;
    }
  }
  // Large Devices, Wide Screens
  @media only screen and (min-width : 1200px) {
    .post-outer-container {
      height: 85vh;
    }
  }
}
