<div class="index-component" onResizeActive>
  <index-first-page-component></index-first-page-component>
  <index-service-page-component class="hidden-xs"></index-service-page-component>
  <index-community-page-component id="community"></index-community-page-component>
  <index-leisure-page-component id="leisure"></index-leisure-page-component>
  <index-trending-now-page-component id="news"></index-trending-now-page-component>
  <index-community-screenshot-page-component id="community-screenshot"></index-community-screenshot-page-component>
  <index-footer-component></index-footer-component>

  <div id="backToTop" title="Back to Top"></div>
</div>
