<div class="index-first-page-component">
  <div class="container">
    <shared-navbar-unauth-component
      [aboutUs]=true
      [digitalCampus]=true
      [signIn]=true>
    </shared-navbar-unauth-component>
    <div class="clear"></div>
    <div class="banner-title text-center">
      <div class="tagline">
        <h1>The Social Network For Students</h1>
        <h3>Connecting students with like minded peers around the world</h3>
      </div>
      <button
        class="btn-peersview-primary btn-peersview-lg peersview-font-weigth-bold" 
        [routerLink]="['/sign-up']">SIGN UP NOW</button>
      <div class="clear"></div>
      <a class="learn-more">Learn what you can do with Peersview</a>
      <p class="text-center"><a class="arrow-go-down bounce"></a></p>
    </div>
  </div>
</div>
