<div class="account-settings-password-component">
  <div class="tab-title">PASSWORD</div>
  <form #passwordUpdate="ngForm" (ngSubmit)="onPasswordUpdate(passwordUpdate.valid)">
    <div class="row p-peersview-y-1 m-peersview-0">
      <div class="p-peersview-0 col-sm-3">
        <label>Current Password:</label>
      </div>
      <div class="col-sm-5">
        <input
          type="password"
          name="currentPassword"
          class="form-control"
          [(ngModel)]="user.currentPassword"/>
      </div>
    </div>

    <div class="row p-peersview-y-1 m-peersview-0">
      <div class="p-peersview-0 col-sm-3">
        <label>New Password:</label>
      </div>
      <div class="col-sm-5">
        <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        autocomplete="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        required minlength="8" />
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required || password.errors.minlength">
            Password required at least 8 characters
          </div>
        </div>

        <!-- <input
          type="text"
          class="form-control"/> -->
      </div>
    </div>

    <div class="row p-peersview-y-1 m-peersview-0">
      <div class="p-peersview-0 col-sm-3">
        <label>Confirm Password:</label>
      </div>
      <div class="col-sm-5">
        <input
        type="password"
        class="form-control"
        placeholder="Confirm Password"
        name="confirmPassword"
        autocomplete="confirmPassword"
        [(ngModel)]="user.confirmPassword"
        #confirmPass="ngModel"
        validateEqual="password" required />
        <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="alert alert-danger">
          <div *ngIf="!confirmPass.errors.validateEqual">
            Password Mismatch
          </div>
        </div>


        <!-- <input
          type="text"
          class="form-control"/> -->
      </div>
    </div>

    <div class="row p-peersview-y-1 text-right m-peersview-0">
      <button
      type="submit"
      class="btn-peersview-primary btn-peersview-md">Update</button>
    </div>
  </form>
</div>