<div class="digital-campus-students-component">
  <div class="container">
    <h3 class="text-center">Students</h3>
    <h1 class="text-center">Join Your Institutions Online Campus.</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="inline-widget">
          <div class="inline-widget-header color-light-purple">
            <i
              class="material-icons peersview-primary-color"
              slideToggle
              [class]="'collaboration'">add
            </i>
            <h4 class="peersview-primary-color-light">Collaboration made easy</h4>
          </div>
          <div class="inline-content collaboration">
            <ul>
              <li>A new way to work together</li>
              <li>Have real-time engagement with classmates on the go</li>
              <li>Collaborate on assignments</li>
              <li>Work on group project on the go</li>
              <li>Prepare for and discuss exams as a group from any location.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inline-widget">
          <div class="inline-widget-header color-light-purple">
            <i
              class="material-icons peersview-primary-color"
              slideToggle
              [class]="'student'">add
            </i>
            <h4 class="peersview-primary-color-light">Every student in your Institution in one place</h4>
          </div>
          <div class="inline-content student">
            <ul>
              <li>Connect and engage with students across your school</li>
              <li>Find interesting students from different departments and faculties</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inline-widget">
          <div class="inline-widget-header color-light-purple">
            <i
              class="material-icons peersview-primary-color"
              slideToggle
              [class]="'learning'">add
            </i>
            <h4 class="peersview-primary-color-light">More efficient learning</h4>
          </div>
          <div class="inline-content learning">
            <p>Improve your critical thinking and understanding, with debates and discussions about lectures.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="inline-widget">
          <div class="inline-widget-header color-light-purple">
            <i
              class="material-icons peersview-primary-color"
              slideToggle
              [class]="'new-students'">add
            </i>
            <h4 class="peersview-primary-color-light">New students, settle in with ease</h4>
          </div>
          <div class="inline-content new-students">
            <ul>
              <li>Make friends with other freshers</li>
              <li>Ask questions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inline-widget black">
          <h4 class="peersview-primary-color-light"><em>As an international student you can communicate with your peers before resuming the school year.</em></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="clear"></div>
      <div class="col-md-4">
        <div class="inline-widget">
          <h4 class="peersview-primary-color-light">Join clubs and societies</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inline-widget">
          <h4 class="peersview-primary-color-light">Buy and sell items from other students</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inline-widget">
          <h4 class="peersview-primary-color-light">Find part time jobs within your locality</h4>
        </div>
      </div>
    </div>
  </div>
</div>