@import 'src/assets/scss/variables';

.digital-campus-students-component {
  padding: 10px 0;
  background-color: $primary-color-dark;
  border-top: solid 1px #503462;
  h3, h1 {
    color: #ffffff;
  }
  .inline-widget {
    margin: 10px 0 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    border: solid 1px #bababa;
    box-shadow: 0 0 5px #b7b7b7;
    .inline-widget-header {
      display: flex;
      align-items: center;
      .material-icons {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
  .inline-content {
    overflow: hidden;
    max-height: 0;
    li {
      margin: 6px;
      list-style-type: disc;
    }
  }
}