announcement-component {
	padding: 15px;
	border-radius: 3px;
	background: #ffffff;
	border: solid 1px #d8d8d8;
	font-size: 14px;
	.label-heading {
		font-weight: 500;
    font-size: 14px;
    text-align: center;
	}
}